<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generated Quote</title>
    <style>
      body {
        font-family: <%= font %>;
        color: <%= color %>;
      }
    </style>
  </head>
  <body>
    <div>
      <p><%= font %></p>
    </div>
  </body>
</html>
